
<div class="text-center">
    <h1 class="display-4">Gael Borchardt (20)</h1>

    <h2>Estudiante de ingenieria en sistemas de información especializado en desarrollo web.</h2>

    <img src="/imagenes/foto.jpg" id="foto" alt="foto gael  " />
</div>

<div class="text-center">

    <img id="imagen-logonet" src="./imagenes/dotnet.jpg" alt="Logo .NET" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class=" col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            Trabajo desarrollando software profesionalmente desde 2025. He tenido el privilegio de trabajar
            desarrollando proyectos para emrpesas como: Procuraduria general de justicia, periodico el imparcial,
            universidad kino, universidad de sonora y por mi cuenta. Todo esto trabajando principalmente aplicaciones
            de C#/ASP.NET, SQL server y JavaS.

        </p>
    </div>
</div>