@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto</h1>

<p>Te respondere lo mas pronto posible!</p>

<div><a asp-action="Index" asp-controller="Home">Volver a Home</a></div>